@import url("./cabinet-grotesk.css");
@import url("./general-sans.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis-weight: none;
  --main-bg: #040606;
  --primary: #a4d0ca;
  --accent: #61c0b3;
  --secondary: #337067;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--main-bg);
  border: solid 10px var(--main-bg);
}

body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--primary);
  border: solid 8px var(--main-bg);
  border-radius: 2rem;
}
body::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--accent);
}

body::-webkit-scrollbar-button {
  background-color: var(--main-bg);
  height: 60px;
}

input::placeholder,
textarea::placeholder {
  color: var(--accent);
  font-weight: bold;
}
#ndIn::placeholder {
  color: var(--secondary);
}
